@import url('https://fonts.googleapis.com/css?family=Lato');
html{
  font-family: 'Lato';
}
.positive{
  background-color: #84FFA0;
  text-align: center;
}
.negative{
  background-color: #FFA296;
  text-align: center;
}
.gain{
  color: #00CB00;
}
.loss{
  color: #EA1B00;
}
.itm{
  background-color: #84FFA0;
  height: 50px;
  width:5px;
  margin-right: 5px;
  float: left;
}
.otm{
  background-color: #FFA296;
  height: 50px;
  width:5px;
  margin-right: 5px;
  float: left;
}
.strike{
  float: right;
  color: black;
}
.strike:hover{
  text-decoration: underline;
}
.wrapper{
  margin: 0 auto
}
#expr{
  float: right;
  margin-right: 20px;
}
#callsputs{
  margin-top: 20px;
  float: left;
}

#body{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}

#calls{
  background-color:#84FFA0;
}

#puts{
  background-color: #FFA296;
}

#divider{
  margin-bottom: 10px;
  margin-top: 10px;
}
#price{
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ticker{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}
#exchange{
  font-size: 11px;
}
#currency{
  font-size: 11px;
}
#headerTitle{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

#header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FAF9F9;
}
#appBar{
  background: inherit;
}

#searchBar{
  margin: 0 auto;
  max-width: 800px;
} 
#table{
  width:100%;
  overflow: none;
}

@media only screen and (max-width: 353px){
  #expr{
    float: none;
  }
  #callsputs{
    float: none;
  }
  #body{
    margin-left: 0px;
    margin-right: 0px;
  }
  #headerTitle{
    margin: 0px;
    margin-bottom: 0px;
  }
  #searchBar{
    width: 100%;
  }
}