@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
  font-family: 'Lato', sans-serif;
}
.positive{
  background-color: #84FFA0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.negative{
  background-color: #FFA296;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.gain{
  color: #00CB00;
}
.loss{
  color: #EA1B00;
}
.itm{
  background-color: #84FFA0;
  height: 45px;
  width:5px;
  margin-right: 5px;
  float: left;
}
.otm{
  background-color: #FFA296;
  height: 45px;
  width:5px;
  margin-right: 5px;
  float: left;
}
.strike{
  float: right;
  color: black;
}
.strike:hover{
  text-decoration: underline;
}
.wrapper{
  margin: 0 auto
}
#content{
  margin: auto;
  width: 90%;
}

#expr{
  float: right;
  margin-right: 20px;
}
#callsputs{
  margin-top: 20px;
  float: left;
}

#container{
  position: absolute;
  width: 95%;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}

#loadingContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

#table{
  padding-top: 10px;
}


#calls{
  background-color:#84FFA0;
}

#puts{
  background-color: #FFA296;
}
#divider{
  margin-bottom: 10px;
  margin-top: 10px;
}
#price{
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ticker{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}
#exchange{
  font-size: 11px;
}
#currency{
  font-size: 11px;
}
#headerTitle{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
#header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
}
.tabs{
  margin-top: 15px;
}
#tableFunction{
  margin-bottom: 10px;
}
.tableCell{
  padding: 90px;
}
.tableHeaderFont{
  font-size: 12px;
  text-overflow: ellipsis
}
.tableFont{
  font-size: 14px;
  text-overflow: ellipsis;
}
#appBar{
  background: inherit;
}

#searchBar{
  margin: 0 auto;
  max-width: 800px;
} 
#info{
  width: 100%;
}
.overviewText{
  text-align: justify;
}
.quoteInfoHeader{
  font-size: 11px;
  margin-bottom: 0px
}
.quoteInfo{
  font-size: 15px;
  margin-top: 5px;
}
#graph{
  padding: 10px;
}
.list{
  width: 100%;
}
.listItem{
  width: 100%;
}
#tooltip{
  width: 100%;
}
@media only screen and (max-width: 500px){
  #expr{
    float: none;
  }
  #callsputs{
    float: none;
  }
  #container{
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%
  }
  #headerTitle{
    margin: 0px;
    margin-bottom: 0px;
  }
  #searchBar{
    width: 100%;
  }
  #tableFunction{
    margin-bottom: 10px;
  }
  .chart{
    height: 200%;
  }
}

@media only screen and (max-width: 1400px){
  #content{
    width: 100%;
  }
}

@media only screen and (min-width: 1900px){
  html{
    font-size: 15px;
  }
  #content{
    width: 75%;
  }
  .tableHeaderFont{
    font-size: 0.55vw;
    text-overflow: ellipsis
  }
  .tableFont{
    font-size: 0.65vw;
    text-overflow: ellipsis;
  }
}